@font-face {
    font-family: MarrSans-Regular-Web;
    src: url(lib/MarrSans-Regular-Web.woff2);
}

@font-face {
    font-family: MarrSansCondensed-Semibold-Web;
    src: url(lib/MarrSansCondensed-Semibold-Web.woff2);
}

.btn-info {
    background-color: #f8f9fa;
    color: #000;
    border: none;
}

.btn-primary {
    background-color:  #f8f9fa;
    color: #000;
    border:none;
}

.important-note
{
    color: #000;
}

.internal-note {
    color: #888;
}

.local-publication {
    color: #454545;
    background: #f9f9f9;
}


.research-meta {
    margin-top:25px;
    margin-bottom:25px;
}

.research-meta-status {
    font-size:0.85em;
    font-weight:normal;
    color:#555;
}

.research-meta-type {
    font-size:0.7em;
    color:#888;
}

.research-meta-author {
    font-size: 0.9em;
    font-weight: regular;
    display: block;
}


.keyword {
    /* t r b l */
    margin: 0px 25px 0px 0px;
}



.keyword-research-list {
    margin-top:5em;
}

li {
    list-style-type: none;
}

.back-to-top {
    font-size: 8px;
}

#keywords {
    text-align: left;
}

.keywordlink {
    display: inline-block;
}

h5.keywordlink a {
    font-size: 0.7em;
}

h4.keywordlink a {
    font-size: 0.85em;
}

h3.keywordlink a {
    font-size: 1.0em;
}

h2.keywordlink a {
    font-size: 1.15em;
}

h1.keywordlink a {
    font-size: 1.3em;
}

.headers h1 {
    font-family: MarrSansCondensed-Semibold-Web;
    font-size: 4em;
}

.headers h4 {
    font-size: 3em;
    font-family: MarrSansCondensed-Semibold-Web;
}

.headers {
    margin-top: 2em;
    margin-bottom: 2em;
}

#keywords h1,h2,h3,h4,h5 {
    font-family: sans-serif;
}


