.keyword {
    /* t r b l */
    margin: 0px 25px 0px 0px;
}

.author-name {
    font-size: 0.9em;
    font-weight: regular;
    display: block;
}

li {
    list-style-type: none;
}

.back-to-top {
    font-size: 8px;
}

#keywords {
    text-align: left;
}

.keywordlink {
    display: inline-block;
}

h5.keywordlink a {
    font-size: 0.7em;
}

h4.keywordlink a {
    font-size: 0.75em;
}

h3.keywordlink a {
    font-size: 1em;
}

h2.keywordlink a {
    font-size: 1.25em;
}

h1.keywordlink a {
    font-size: 1.5em;
}